{% extends 'base.html' %}

{% block title %}
Update Task -
{% endblock title %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h1 class="text-center">ToDo App</h1>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}

            <div class="input-group mb-3">
                <div class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Marked as completed">
                    {{task_edit_form.is_completed}}
                </div>
                {{task_edit_form.title}}
                <button type="submit" class="btn btn-lg btn-outline-success">Update</button>
            </div>
            <div class="input-group">
                {{task_edit_form.body}}
            </div>
        </form>
        <hr>
        <div class="float-right">
            <a href="{% url 'index' %}" class="btn btn-sm btn-outline-danger">Cancel</a>
        </div>
    </div>
</div>

{% endblock content %}